 .bgi{
    background: url(./sign_bgi.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    position: relative;
    background-size: cover;
    background-position: center;
}
.div2{
    width: 100%;
    height: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.div2 img{
    position: absolute;
    width: 150px;
    left: 20px;
    top: 620px;
}
.signInContainer{
    text-align: center;
    margin: 30px 0;
    width: 460px;
    height: 590px;
    background-color: #fff;
    transition: 0.6s;
    position: relative;

}
.signInContainer p{
    font-size: 26px;
    padding: 50px 0;
    font-weight: 600;
}
.signInContainer .signInputs{
    width: 75%;
    height: 50px;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: rgb(226, 226, 226);
    outline: none;
    border: none;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
    border: 2px solid rgb(255, 255, 255) ;

    
}

.signInContainer .signInputs::placeholder{
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5px;
    font-size: 11px;
    padding-left: 20px;
    color:rgb(66, 66, 66)
    
    
}
.signInContainer .signInputs:focus{
    border: 2px solid rgb(66, 66, 66) ;
    background-color: white;
}
.signInContainer ul{
    display: flex;
    list-style: none;
    justify-content: center;
    padding-bottom: 20px;
    
}
.signInContainer ul li{
    margin-right: 10px;
    font-size: 20px;
    border-radius: 5px;
    width: 60px;
    text-align: center;
    padding: 10px;
    align-items: center;
    cursor: pointer;
}
.signInContainer ul  .fac{
    background-color: #1976f2;

}
.signInContainer ul  .goo{
    background-color: #d13639;

}
.signInContainer ul  .app{
    background-color: #000000;

}
.signInContainer ul  .xbo{
    background-color: #117d10;

}
.signInContainer ul li i{
color: white;
}

.signInContainer .cboxLabel{
    font-size: 12px;
    letter-spacing: 0.5px;
    padding-left: 10px;
    font-weight: 600;

}
.signInContainer input.cbox{
    width: 20px;
}
.signInContainer button.SignBtnn{
    border-radius: 5px;
    padding: 17px 0;
    border: none;
    margin: 20px;
    cursor: pointer;
    width: 100px;
    font-size: 13px;
    letter-spacing: .5px;
    font-weight: 600;
    text-transform: uppercase;
    transition: .3s;
}
.signInContainer .signElinks{
    text-decoration: none;
    color:#786d66 ;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    transition: .6s;
}
/* //////////////// HOVER ////////////////// */

.signInContainer button.SignBtnn:hover{
    background-color: #d13639;
    color: white;

}
.signInContainer .signElinks:hover{
    color: #d13639;
}
@media (max-width: 768px){
    .signInContainer{
        width: 70%;
        height: 450px;
    }
    .div2 img{
        width: 80PX;
        left: 10PX;
        top: 510px;
    }
    .signInContainer p{
        font-size: 20px;
        padding: 30px;
    }
    .signInContainer .signInputs{
        height: 35px;
    }
    .signInContainer .signInputs::placeholder{
        font-size: 10px;
    }
    .signInContainer ul li{
        width: 25px;
        font-size: 16px;
    }
    .signInContainer button.SignBtnn{
        font-size: 10px;
        padding: 12px;
    }
    .signInContainer .signElinks{
        font-size: 10px;
    }
}


