
.supContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.supContainer p{
    padding: 50px 0;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;

}
.supContainer .supBanner{
    height: 500px;
    width: 100%;
    padding-bottom:50px ;
}
.supContainer .supBanner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0px -20px;

}

.supContainer input{
    width: 30%;
    height: 50px;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: rgb(226, 226, 226);
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
    border: 2px solid rgb(255, 255, 255) ;
}

.supContainer input:focus{

    border: 2px solid rgb(66, 66, 66) ;
}
.supContainer input::placeholder{
    
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5px;
    font-size: 11px;
    padding-left: 20px;
    color:rgb(66, 66, 66);
}
/* textarea .supMessage{

} */
.supContainer .supMessage{
    height: 150px;
    align-items: normal;
    font-size: 12px;
    width: 30%;
    background-color: rgb(226, 226, 226);

}
.supContainer .supMessage::placeholder{
    text-transform: uppercase;
    padding: 20px;
    font-size: 12px;
    font-weight: 600;
}
.supSubBtn{
    border-radius: 5px;
    padding: 17px 0;
    border: none;
    margin: 20px;
    cursor: pointer;
    width: 100px;
    font-size: 13px;
    letter-spacing: .5px;
    font-weight: 600;
    text-transform: uppercase;
    transition: .3s;
    color: aliceblue;
    background-color: #d13639;
    border: 2px solid #d13639;
    
}
.supSubBtn:hover{
    background-color:rgb(226, 226, 226) ;
    border: 2px solid rgb(66, 66, 66) ;
    color: rgb(66, 66, 66) ;
}
@media (max-width: 768px){
    .supContainer p{
        font-size: 24px;
    }
    .supContainer .supBanner{
    height: 200px;
    overflow: hidden;
    }
    .supContainer .supBanner img{
        object-position: 0 -30px;
     width: 150%;


    }
    .supContainer .supMessage{
        width: 70%;
    }
    .supContainer input{
        
        width: 70%;
    }
}